#cardContainer {
	display: block;
	text-align: center;
}

.card1 {
	width: 100vw;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondary) !important;
}

#engineContent, #matchamkingContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
	flex-wrap: wrap;
	font-size: 2em;
	line-height: 1.5em;
	color: var(--details);
}
#engineContent {
	color:var(--secondary);
}

#matchamking-desk {
	margin-top: 5%;
	margin-left: 2%;
	margin-right: 2%;
	height: 70%;
	width: 60%;
}

#matchamking-mob {
	margin-top: 5%;
	height: 70%;
	width: 15%;
}

.card2 {
	width: 100vw;
	height: 80%;
	display: flex;
	align-items: center;
	background-color: var(--primary) !important;
}

#matchamking, #engine {
	font-size: 4em;
}

#matchamking {
	color: var(--details);
}

#engine {
	color: var(--secondary);
}

#matchamkingFooter, #engineFooter {
	margin-top: 30px;
	margin-bottom: 15px;
}

#matchamkingFooter {
	color: var(--details);
}


#engineFooter {
	color: var(--secondary);
}
