<mat-card id="WelcomeCard">
	<mat-card-header>
		<mat-card-title-group>
			<mat-card-title id="title">Welcome!</mat-card-title>
			<mat-card-subtitle class="subtitle">Sebastian Quintana</mat-card-subtitle>
			<mat-card-subtitle class="subtitle">Computer engineering student</mat-card-subtitle>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<path fill="#57ba86"
					d="M22 13c0 1.11-.89 2-2 2H4a2 2 0 1 1 0-4h9l2.5 2l2.5-2h2a2 2 0 0 1 2 2M12 3C3 3 3 9 3 9h18s0-6-9-6M3 18c0 1.66 1.34 3 3 3h12c1.66 0 3-1.34 3-3v-1H3v1Z" />
			</svg>
		</mat-card-title-group>
	</mat-card-header>
	<mat-card-content>
		<p>
			<br>
			This page is aimed to practice angular, while making a more dynamic and interesting portfolio to showcase my work.
			<br>
			I used angular material to create more complex components, while maintaining a sophisticated approach to the design, and kept the predefined theme because I like it. I'm also planning to make a custom theme in the future.
			<br>
			The page was made entirely by me. The icons where retrieved from <a href="https://iconify.design" target="_blank">iconify</a>.
		</p>
	</mat-card-content>
</mat-card>
