/* this is fine but I don't like it
#tabs-container {
	min-height: 65.5%;
}
*/

.card {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.3em;
	line-height: 1.5em;
}

.title {
	font-weight: bolder;
	font-size: 1.5em;
	line-height: 1.8em;
}

#header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
}

a {
	color: #e91e63;
	font-weight: bold;
}