/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

:root {
	--primary: #e91e63;
	--secondary: #303030;
	--details: #57ba86;
	--original-primary: #c2185b;

	--primary2: #5F040A;
	--secondary2: #1D1C1C;
	--text2: #FFBA08;
	--accent2: #626C66;
	--details2: aquamarine;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;

}